/* CONTAINER */
.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
}

/* BOTÃO */
.botao {
  color: var(--cor-12);
  font: 600 1.25rem/1.25 "Roboto";
  text-transform: uppercase;
  background: linear-gradient(#c357d9, #913dbe);
  box-shadow: 0px 2px 2px 0px hsba(0, 0%, 0%, 0.1);
  border-radius: 10px;
  padding: 16px 32px;
}

.botao:hover {
  background: linear-gradient(#c357e1, #913da1);
}

@media (max-width: 830px) {
  .botao {
    font-size: 1rem;
    padding: 12px 24px;
  }
}

@media (max-width: 390px) {
  .botao {
    font-size: 0.8rem;
    padding: 10px 20px;
  }
}

/* SEÇÃO DE BUSCA */
.busca-bg {
  height: 80px;
  background-color: var(--cor-12);
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
}

.busca {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 13px auto;
  background-color: var(--cor-1);
  padding: 6px 12px;
  border: none;
  border-radius: 32px;
  width: 600px;
}

.busca input[type="search"] {
  background-color: var(--cor-1);
  border: none;
  font-size: 16px;
  padding: 12px 24px;
  width: 550px;
  outline: none;
}

.busca button[type="submit"] {
  padding: 0;
  width: 32px;
  height: 24px;
  border: none;
  background: url(/img-icone/icone-cinza/busca.svg) no-repeat center;
  cursor: pointer;
}

@media (max-width: 760px) {
  .busca {
    width: 480px;
  }
  .busca input[type="search"] {
    width: 430px;
  }
}

@media (max-width: 550px) {
  .busca {
    width: 320px;
  }
  .busca input[type="search"] {
    width: 270px;
  }
}

@media (max-width: 360px) {
  .busca {
    width: 240px;
  }
  .busca input[type="search"] {
    width: 190px;
  }
}

/* TITULO-INTRO */
.titulo-intro-bg {
  background-color: var(--cor-4);
  border-radius: 0px 0px 20px 20px;
}

.titulo-intro {
  padding: 60px 32px;
}

.titulo-intro p {
  padding-bottom: 8px;
  position: relative;
}

.titulo-intro p::after {
  content: "";
  height: 68px;
  width: 68px;
  background-image: url(/img-icone/bolinhas/bolinha-intro.svg);
  position: absolute;
  right: -10px;
  top: -10px;
}

@media (max-width: 760px) {
  .titulo-intro {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .titulo-intro p {
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 0px;
  }
  .titulo-intro p::after {
    display: none;
  }
}
