.croche-home {
  box-sizing: border-box;
  padding: 100px 32px 120px 32px;
}

.croche-home h2 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

.croche-selecao {
  display: flex;
  gap: 40px;
  margin: auto;
  max-width: 1400px;
  overflow-x: auto;
}

.croche-home-quadrado {
  flex: 1;
  min-width: 320px;
  max-width: 340px;
  background-color: var(--cor-4);
  border: solid 4px var(--cor-5);
  border-radius: 20px;
}

.croche-home-quadrado:hover {
  opacity: 90%;
}

.croche-home-quadrado a {
  display: block;
}

.croche-home-quadrado img {
  max-width: 75%;
  padding: 40px 40px 32px 40px;
  border-radius: 18%;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
}

.produto-preco {
  padding: 0px 40px;
}

.produto-valor {
  padding: 0px 0px 40px 40px;
}

@media (max-width: 1200px) {
  .croche-home {
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
