.detalhes-custom-bg {
  background-color: var(--cor-5);
  border-radius: 20px;
  box-shadow: inset 0 32px var(--cor-3), inset 0 -32px var(--cor-3);
}

.detalhes-custom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.detalhes-custom-conteudo {
  padding-top: 152px;
  padding-bottom: 152px;
  padding-left: 150px;
}

.detalhes-custom-conteudo a {
  text-transform: uppercase;
  position: relative;
}

.detalhes-custom-conteudo a::after {
  content: "";
  display: block;
  height: 4px;
  width: 0px;
  border-radius: 4px;
  background-color: var(--cor-11);
  transition: 0.3s;
  position: absolute;
}

.detalhes-custom-conteudo a:hover::after {
  width: 100%;
}

.detalhes-custom-conteudo h2 {
  position: relative;
}

.detalhes-custom-conteudo h2::before {
  content: "";
  height: 68px;
  width: 68px;
  background-image: url(/img-icone/bolinhas/bolinha-esq.svg);
  position: absolute;
  top: -50px;
  left: -80px;
}

.detalhes-custom-conteudo h2,
.detalhes-custom-conteudo .subtitulo {
  padding-bottom: 32px;
}

.detalhes-custom-imagem img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 4% 0 0 4%;
}

@media (max-width: 1400px) {
  .detalhes-custom-conteudo {
    padding-left: 40px;
  }
  .detalhes-custom-conteudo h2::before {
    display: none;
  }
}

@media (max-width: 1000px) {
  .detalhes-custom-bg {
    box-shadow: initial;
  }
  .detalhes-custom {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .detalhes-custom-conteudo {
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .detalhes-custom-imagem img {
    max-height: 600px;
    border-radius: 0 0 2% 2%;
  }
}

@media (max-width: 500px) {
  .detalhes-custom-imagem img {
    display: none;
  }
}
