.introducao-fundo {
  background-color: var(--cor-12);
}

.introducao-bg {
  background-color: var(--cor-5);
  border-radius: 0px 0px 20px 20px;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  padding-top: 80px;
  padding-left: 32px;
  padding-right: 32px;
}

.introducao img {
  padding-bottom: 80px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 120px;
}

.introducao-conteudo h1 {
  padding-bottom: 32px;
  position: relative;
}

.introducao-conteudo h1::after {
  content: "";
  height: 68px;
  width: 68px;
  background-image: url(/img-icone/bolinhas/bolinha-intro.svg);
  position: absolute;
  top: -50px;
  right: -50px;
}

.introducao-conteudo p {
  padding-bottom: 40px;
}

@media (max-width: 1300px) {
  .introducao-conteudo h1::after {
    display: none;
  }
}

@media (max-width: 760px) {
  .introducao {
    padding-top: 40px;
    padding-bottom: 20px;
    grid-template-columns: 1fr;
  }
  .introducao-conteudo {
    padding-bottom: 60px;
  }
  .introducao h1 {
    padding-bottom: 24px;
  }
  .introducao p {
    padding-bottom: 48px;
  }
  .introducao img {
    padding-bottom: 40px;
  }
}
