.pelucias-home-bg {
  background-color: var(--cor-3);
  overflow: hidden;
}

.pelucias-home {
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.pelucias-selecao {
  display: flex;
  gap: 40px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.pelucias-home-quadrado {
  height: 500px;
  width: 420px;
  background-color: var(--cor-4);
  border: solid 4px var(--cor-5);
  border-radius: 20px;
}

.pelucias-home-quadrado a {
  display: block;
}

.pelucias-home-quadrado img {
  max-width: 80%;
  display: block;
  padding: 40px 40px 32px 40px;
  border-radius: 14%;
}

.pelucias-home h2 {
  max-width: 1200px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

.produto-preco {
  padding: 0px 40px;
}

.produto-valor {
  padding: 0px 0px 40px 40px;
}
