.termos-descricao {
  margin-top: 120px;
  margin-bottom: 120px;
}

.termos-descricao h2 {
  margin-bottom: 20px;
}

.termos-descricao p {
  margin-bottom: 24px;
  max-width: 75ch;
}

.termos-descricao p + h2 {
  margin-top: 60px;
}

@media (max-width: 1200px) {
  .termos-descricao {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
