.item-menu {
  color: var(--cor-11);
  font: 500 1.25rem/32px "Grandstander";
}

.titulo {
  color: var(--cor-11);
  font: 700 3.75rem/3.75rem "Grandstander";
}

.subtitulo {
  color: var(--cor-10);
  font: 400 1.5rem/3.5rem "Roboto", sans-serif;
}

.preco-titulo {
  color: var(--cor-12);
  font: 600 1.8rem/32px "Roboto", sans-serif;
}

.preco-descricao {
  color: var(--cor-11);
  font: 400 1.2rem/32px "Roboto", sans-serif;
}

.preco-valor {
  color: var(--cor-9);
  font: 400 1.2rem/32px "Roboto", sans-serif;
}

.saiba-mais {
  color: var(--cor-11);
  font: 700 2rem/32px "Roboto", sans-serif;
}

.depoimento-descricao {
  color: var(--cor-11);
  font: 400 2rem/60px "Roboto", sans-serif;
}

.depoimento-nome {
  color: var(--cor-9);
  font: 600 1.5rem/28px "Roboto", sans-serif;
}

.footer-titulo {
  color: var(--cor-3);
  font: 600 1.5rem/24px "Grandstander";
}

.footer-descricao {
  color: var(--cor-4);
  font: 400 1.25rem/40px "Roboto", sans-serif;
}

.subtitulo-intro {
  color: var(--cor-9);
  font: 700 1.5rem/32px "Roboto", sans-serif;
}

.termos-titulo {
  color: var(--cor-11);
  font: 600 2rem/40px "Roboto", sans-serif;
}

.termos-subtitulo {
  color: var(--cor-11);
  font: 400 1.5rem/40px "Roboto" sans-serif;
}

.contato-titulo {
  color: var(--cor-11);
  font: 600 1.5rem/40px "Grandstander";
}

.contato-descricao {
  color: var(--cor-11);
  font: 400 1.25rem/40px "Roboto", sans-serif;
}

.formulario-titulo {
  color: var(--cor-11);
  font: 500 1rem/40px "Roboto", sans-serif;
}

.lojas-titulo {
  color: var(--cor-11);
  font: 600 2rem/40px "Grandstander";
}

.lojas-rodape {
  color: var(--cor-11);
  font: 600 1rem/40px "Roboto", sans-serif;
}

@media (max-width: 1200px) {
  .titulo {
    font-size: 3rem;
  }
  .saiba-mais {
    font-size: 1.5rem;
  }
  .depoimento-descricao {
    font-size: 1.5rem;
  }
  .depoimento-nome {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  .subtitulo {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
  .termos-titulo {
    font-size: 1.8rem;
  }

  .termos-subtitulo {
    font-size: 1.2rem;
  }
}

@media (max-width: 830px) {
  .preco-titulo {
    font-size: 1.4rem;
  }

  .preco-descricao {
    font-size: 1rem;
  }

  .preco-valor {
    font-size: 1rem;
  }
  .lojas-titulo {
    font-size: 1.5rem;
  }

  .lojas-rodape {
    font-size: 0.8rem;
  }
}

@media (max-width: 760px) {
  .titulo {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

@media (max-width: 550px) {
  .depoimento-descricao {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
  .depoimento-nome {
    font-size: 0.8rem;
  }
}
